<div class="form-group">
  @if (!viewMode()) {
    <label>{{ label() }}</label>
  }

  <input #fileInput type="file" [accept]="accept()" (change)="onFileSelect($event)" hidden />

  @if (image(); as img) {
    <div class="upload-image-box">
      <div class="profile-container">
        <img [src]="img.url" alt="" />
      </div>

      <div class="image-detail-container">
        <h1 class="image-title" [title]="img.name">{{ img.name }}</h1>
        <h3 class="image-size">{{ img.size }}</h3>
      </div>

      @if (!viewMode()) {
        <app-button (click)="clear()" type="outlined" size="sm" icon="trash" />
      }
    </div>
  } @else if (!viewMode()) {
    <div (click)="fileInput.click()" class="upload-image-box noimage">
      <div class="profile-container">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M14.4534 11.3064L12.3668 6.43309C11.6601 4.77976 10.3601 4.71309 9.48678 6.28643L8.22678 8.55976C7.58678 9.71309 6.39345 9.81309 5.56678 8.77976L5.42011 8.59309C4.56011 7.51309 3.34678 7.64643 2.72678 8.87976L1.58011 11.1798C0.773447 12.7798 1.94011 14.6664 3.72678 14.6664H12.2334C13.9668 14.6664 15.1334 12.8998 14.4534 11.3064Z"
            stroke="#07090F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          <path
            d="M4.64648 5.3335C5.75105 5.3335 6.64648 4.43807 6.64648 3.3335C6.64648 2.22893 5.75105 1.3335 4.64648 1.3335C3.54191 1.3335 2.64648 2.22893 2.64648 3.3335C2.64648 4.43807 3.54191 5.3335 4.64648 5.3335Z"
            stroke="#07090F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </div>

      <div class="image-detail-container">
        <h1 class="image-title">{{ placeholder() }}</h1>
        <h3 class="image-size">{{ formatsText() }}, Up-to {{ maxSizeMB() }} MB.</h3>
      </div>
    </div>
  }
</div>
