.master-nav {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    margin: 20px;
    border-bottom: 1px solid var(--separator-color);

    &.sub {
        margin: 0 !important;
        margin-top: 8px !important;
        padding-left: 8px !important;
    }

    .nav-item {
        padding: 8px;
        gap: 6px;
        display: flex;
        align-items: center;
        cursor: pointer;

        &.active {
            border-bottom: 3px solid var(--primary-color);
        }

        span {
            color: var(--text-primary-color, #232423);
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
        }
    }
}