<button class="btn" [ngClass]="{
  'btn-primary': type() === 'primary',
  'btn-secondary': type() === 'secondary',
  'btn-outlined': type() === 'outlined',
  'btn-outlined-primary': type() === 'primary-outlined',
  'rounded': rounded() === true,
  'small': size() == 'sm',
  'active' : active(),
  'full': fullWidth()
  }" [style.height.px]="height()" [disabled]="disabled()">

  @if (icon()) {
  <app-icon [size]="iconSize() || '18px'" [name]="icon()"></app-icon>
  }

  @if (label()) {
  <span>{{label()}}</span>
  }

  @if (rightIcon()) {
  <app-icon [size]="iconSize() || '18px'" [name]="rightIcon()"></app-icon>
  }
</button>