<div class="section-add change">
    <div class="header-wrapper">
        <header class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <i (click)="exit()" class="fa-solid fa-circle-arrow-left text-dark"></i>
                <h1 style="color: #333;" class="ms-2">Change Password</h1>
            </div>
            <div class="header-buttons">
                <button appPreventDefault title="Alt+S" [accessKey]="'s'" class="btn btn-primary text-uppercase"
                    (click)="save()">
                    <i class="fa-regular fa-floppy-disk"></i> Save
                </button>

                <button appPreventDefault title="Alt+C" [accessKey]="'c'" class="btn btn-secondary text-uppercase"
                    (click)="exit()">
                    Cancel
                </button>

            </div>
        </header>
    </div>
    <form [formGroup]="passwordForm">
        <div class="p-3 pass-container">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-section">
                        <div class="form-group">
                            <label>Current Password <span class="text-danger">*</span></label>
                            <div>
                                <div class="input-group pass-group">
                                    <input style="width: 100%;" [type]="hideCurrent == true ? 'password' : 'text'"
                                        class="form-control" formControlName="current_password"
                                        placeholder="Enter your Current Password" />
                                    <span class="eye pass-eye">
                                        <i class="fa" [ngClass]="hideCurrent == true ? 'fa-eye-slash' : 'fa-eye'"
                                            aria-hidden="true" (click)="hideCurrent = !hideCurrent"></i>
                                    </span>
                                    <div *ngIf="
                              f['current_password'].invalid &&
                              (f['current_password'].dirty || f['current_password'].touched)
                            " class="invalid">
                                        <div *ngIf="f['current_password'].errors?.['required']">
                                            Current Password is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>New Password <span class="text-danger">*</span></label>
                            <div>
                                <div class="input-group pass-group">
                                    <input style="width: 100%;" [type]="hidePassword == true ? 'password' : 'text'"
                                        class="form-control" formControlName="password"
                                        placeholder="Enter your New Password" />
                                    <span class="eye pass-eye">
                                        <i class="fa" [ngClass]="hidePassword == true ? 'fa-eye-slash' : 'fa-eye'"
                                            aria-hidden="true" (click)="hidePassword = !hidePassword"></i>
                                    </span>
                                    <div *ngIf="
                              f['password'].invalid &&
                              (f['password'].dirty || f['password'].touched)
                            " class="invalid">
                                        <div *ngIf="f['password'].errors?.['required']">
                                            New Password is required
                                        </div>
                                        <div *ngIf="f['password'].errors?.['upperCasepassword']">
                                            Uppercase is required
                                        </div>

                                        <div *ngIf="f['password'].errors?.['specalCharacter']">
                                            Special character is required
                                        </div>
                                        <div *ngIf="f['password'].errors?.['minlength']">
                                            Password must be greater than 8 characters
                                        </div>
                                        <div *ngIf="f['password'].errors?.['numericPass']">
                                            Number is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Confirm Password
                                <span class="text-danger">*</span></label>
                            <div>
                                <div class="input-group pass-group">
                                    <input style="width: 100%;" [type]="hideConfirm == true ? 'password' : 'text'"
                                        class="form-control" formControlName="confirmpassword"
                                        placeholder="Confirm Password" />

                                    <span class="eye pass-eye">
                                        <i class="fa" [ngClass]="hideConfirm == true ? 'fa-eye-slash' : 'fa-eye'"
                                            aria-hidden="true" (click)="hideConfirm = !hideConfirm"></i>
                                    </span>

                                    <div *ngIf="
                              f['confirmpassword'] &&
                              f['confirmpassword'].invalid &&
                                f['confirmpassword'].touched
                            " class="invalid">
                                        <div *ngIf="f['confirmpassword'].errors?.['required']">
                                            Please Confirm Password
                                        </div>
                                    </div>

                                    <div *ngIf="passwordForm.hasError('notSame')" class="invalid">
                                        Confirm password does not match with password
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>

<div *ngIf="isLoading == true">
    <app-loading-spinner></app-loading-spinner>
</div>