<div class="modal">
    <div class="modal-header">
        <div class="modal-title-group">
            <h1 class="modal-title">
                {{ data.isView == true ? 'View' : modalForm.value.id ? 'Update' : 'Add'}} User
            </h1>
            <h2 class="modal-sub-title">
                Provide required information to add User.
            </h2>
        </div>

        <app-button class="close-btn" (click)="closeDialog()" type="outlined" [rounded]="true" size="sm" icon="close" />
    </div>
    <div class="modal-body">
        <form class="modal-content" [formGroup]="modalForm">
            <div class="row g-2">

                <div class="col-md-12">
                    <app-image-upload [image]="selectedProfileImage()" [viewMode]="!!data.isView"
                        (imageChange)="selectedProfileImage.set($event)" />
                </div>


                <div class="col-md-12">
                    <div class="form-group" [class.view]="data.isView">
                        <label>Full Name</label>
                        @if (data.isView) {
                        <span>{{ selectedUser()?.name || 'N/A' }}</span>
                        } @else {
                        <input [useValidation]="true" type="text" class="form-control" placeholder="Enter Full Name"
                            formControlName="name" />
                        }
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group" [class.view]="data.isView">
                        <label>Contact No.</label>
                        @if (data.isView) {
                        <span>{{ selectedUser()?.contact || 'N/A' }}</span>
                        } @else {
                        <input type="text" class="form-control" placeholder="Enter Contact No."
                            formControlName="contact_number" />
                        }
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group" [class.view]="data.isView">
                        <label>Email</label>
                        @if (data.isView) {
                        <span>{{ selectedUser()?.email || 'N/A' }}</span>
                        } @else {
                        <input [useValidation]="true" type="email" formControlName="email" class="form-control"
                            placeholder="Enter Email" />
                        @if (f['email'].errors?.['email'] && (f['email'].dirty || f['email'].touched)) {
                        <div class="alert error">Email must be a valid email address</div>
                        }
                        }
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group" [class.view]="data.isView">
                        <label>Role</label>
                        @if (data.isView) {
                        <span>{{ selectedUser()?.role_name || 'N/A' }}</span>
                        } @else {
                        <ng-select [items]="roleList()" bindLabel="name" bindValue="id" placeholder="Select Role"
                            formControlName="role_id" [useValidation]="true">
                        </ng-select>
                        }
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group" [class.view]="data.isView">
                        <label>Gender</label>
                        @if (data.isView) {
                        <span>{{ selectedUser()?.gender || 'N/A' }}</span>
                        } @else {
                        <div class="d-flex gap-md align-items-center">
                            <label>
                                <input class="form-check-input" type="radio" name="gender" value="Male"
                                    formControlName="gender" />Male</label>

                            <label>
                                <input class="form-check-input" type="radio" name="gender" value="Female"
                                    formControlName="gender" />
                                Female
                            </label>

                            <label>
                                <input class="form-check-input" type="radio" name="gender" value="Other"
                                    formControlName="gender" />
                                Other</label>
                        </div>
                        }
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group" [class.view]="data.isView">
                        <label>Active Status</label>
                        @if (data.isView) {
                        <span>{{ selectedUser()?.is_active ? 'Active' : 'Inactive' }}</span>
                        } @else {
                        <label class="switch">
                            <input formControlName="is_active" type="checkbox">
                            <span class="slider round"></span>
                        </label>
                        }
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group" [class.view]="data.isView">
                        <label>Remarks</label>
                        @if (data.isView) {
                        <span>{{ selectedUser()?.remarks || 'N/A' }}</span>
                        } @else {
                        <textarea placeholder="Enter Remarks" class="form-control" formControlName="remarks"
                            rows="1"></textarea>
                        }
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="section section-dark">
                        <div class="section-title">Login Credentials for User</div>

                        <br>

                        <div class="row g-2">
                            @if (f['account_non_locked'].value === false) {
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Login Status</label>
                                    <div style="width: 100%;" class="d-flex align-items-center justify-content-between">
                                        <span>Your Account has been locked.</span>
                                        @if (!data.isView) {
                                        <app-button (click)="showAlert()" type="secondary" label="Unlock" />
                                        }
                                    </div>
                                </div>
                            </div>
                            }

                            <div class="col-md-12">
                                <div class="form-group" [class.view]="data.isView">
                                    <label>Username</label>
                                    @if (data.isView) {
                                    <span>{{ selectedUser()?.username || 'N/A' }}</span>
                                    } @else {
                                    <div class="input-wrapper">
                                        <app-icon class="left-icon" name="user" />
                                        <input [useValidation]="true" type="text" formControlName="username"
                                            class="form-control" placeholder="Enter Username" />
                                    </div>
                                    }
                                </div>
                            </div>

                            @if (!data.isView) {
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Password</label>
                                    <div class="input-wrapper">
                                        <app-icon class="left-icon" name="lock" />
                                        <input [useValidation]="true" [type]="hide() ? 'password' : 'text'"
                                            class="form-control" placeholder="Enter Password"
                                            formControlName="password" />
                                        <app-icon class="right-icon clickable" (click)="hide.set(!hide())"
                                            [name]="hide() ? 'eye-slash' : 'eye-login'" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="password-rules">
                                    <p>Password must have :</p>

                                    <div class="rule" [class.valid]="hasMinLength()">
                                        <span></span> At least 8 characters
                                    </div>
                                    <div class="rule" [class.valid]="hasUpperLower()">
                                        <span></span> Uppercase and lowercase character (A–a)
                                    </div>
                                    <div class="rule" [class.valid]="hasSpecialChar()">
                                        <span></span> One Special character (!, &#64;, #, $, % ...)
                                    </div>
                                    <div class="rule" [class.valid]="hasNumber()">
                                        <span></span> One number (1–9)
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <div class="input-wrapper">
                                        <app-icon class="left-icon" name="lock" />
                                        <input [useValidation]="true" [type]="confirmHide() ? 'password' : 'text'"
                                            class="form-control" placeholder="Confirm Password"
                                            formControlName="confirmpassword" />
                                        <app-icon class="right-icon clickable" (click)="confirmHide.set(!confirmHide())"
                                            [name]="confirmHide() ? 'eye-slash' : 'eye-login'" />
                                    </div>

                                    @if (modalForm.errors?.['passwordMismatch'] && (f['confirmpassword'].dirty ||
                                    f['confirmpassword'].touched)) {
                                    <div class="alert error">
                                        Password and Confirm Password must match.
                                    </div>
                                    }
                                </div>
                            </div>
                            } @else {
                            <div class="col-md-12">
                                <div class="form-group view">
                                    <label>Password</label>
                                    <span>********</span>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    @if (!data.isView) {
    <div class="modal-footer">
        <app-button (click)="closeDialog()" type="secondary" label="Cancel" />
        <app-button (click)="saveForm()" type="primary" [label]="(modalForm.value.id ? 'Update' : 'Add') + ' User'" />
    </div>
    }
</div>

<ng-template #confirm>
    <div class="modal">
        <div class="modal-header">
            <div class="modal-title-group">
                <h1 class="modal-title">Confirmation</h1>
            </div>

            <app-button class="close-btn" (click)="closeAlert()" type="outlined" [rounded]="true" size="sm"
                icon="close" />
        </div>

        <div class="modal-body">
            <p>Are you sure you want to unlock login for this user?</p>
        </div>

        <div class="modal-footer">
            <app-button (click)="closeAlert()" type="secondary" label="Cancel" />
            <app-button (click)="unlockUser()" type="primary" label="Unlock" />
        </div>
    </div>
</ng-template>