<div class="modal">
    <div class="modal-header">
        <div class="modal-titles">
            <h1 class="modal-title">
                {{ data?.isView == true ? 'View' : modalForm.value.id ? 'Update' : 'Add'}} Account
            </h1>
            <h2 class="modal-sub-title">
                Provide required information to add Account.
            </h2>
        </div>
        <button (click)="closeDialog()" type="button" class="btn btn-outlined rounded small close-btn">
            <img src="../../../../../assets/svg/close.svg" alt="">
        </button>
    </div>
    <div class="modal-body">

        @if (data.isView != true) {
        <form [formGroup]="modalForm">
            <div class="row g-2">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Account Name</label>
                        <input type="text" class="form-control" placeholder="Enter Account Name"
                            formControlName="account_name" />
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label>Account Code</label>
                        <input type="text" class="form-control" placeholder="Enter Account Code"
                            formControlName="account_code" />
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label>Account Type</label>
                        <select (change)="getSelectedMaster($event)" class="form-control" formControlName="account_type"
                            id="accounttype"
                            [class.is-invalid]="f['account_type'].invalid && (f['account_type'].dirty ||f['account_type'].touched)">
                            <option disabled hidden class='text-secondary' [ngValue]="null">Select Account</option>
                            <optgroup label="{{item.heading | titlecase}}" *ngFor="let item of accountTypeDropDown">
                                <option *ngFor="let subHead of item.types" value={{subHead}}>{{subHead}}</option>
                            </optgroup>
                        </select>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label>Parent Account</label>
                        <select class="form-control" formControlName="parent_id"
                            *ngIf="parentData.length > 0; else noDrpDownData">
                            <!-- <option class='text-secondary' value="root" selected="selected">Select</option> -->
                            <option *ngFor="let item of parentData" value="{{item.id}}">{{item.name}}</option>
                        </select>
                        <ng-template #noDrpDownData>
                            <select class="form-control" formControlName="parent_account" aria-label="Select">
                                <option class='text-secondary' value="root" selected>Root</option>
                            </select>
                        </ng-template>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label>Remarks</label>
                        <textarea rows="1" class="form-control" formControlName="remarks"
                            placeholder="Enter Text"></textarea>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label>Active Status </label>
                        <label class="switch">
                            <input formControlName="active_status" type="checkbox">
                            <span class="slider round"></span>
                        </label>

                    </div>
                </div>


            </div>


        </form>
        }
        @else {

        <div class="row g-2">

            <div class="col-md-12">
                <div class="form-group view">
                    <label>Account Name</label>
                    <span class="form-value">{{ selectedSubAccount?.account_name || '-' }}</span>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group view">
                    <label>Account Code</label>
                    <span class="form-value">{{ selectedSubAccount?.account_code || '-' }}</span>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group view">
                    <label>Account Type</label>
                    <span class="form-value">{{ selectedSubAccount?.account_type || '-' }}</span>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group view">
                    <label>Parent Account</label>
                    <span class="form-value">{{ selectedSubAccount?.parent_name || '-' }}</span>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group view">
                    <label>Remarks</label>
                    <span class="form-value">{{ selectedSubAccount?.remarks || '-' }}</span>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group view">
                    <label>Status</label>
                    <span class="form-value">
                        {{ selectedSubAccount?.active_status ? 'Active' : 'Inactive' }}
                    </span>
                </div>
            </div>

        </div>

        }


    </div>

    <div *ngIf="data.isView != true" class="modal-footer">
        <button (click)="closeDialog()" type="button" class="btn btn-secondary">
            Cancel
        </button>

        <button (click)="saveForm()" type="button" class="btn btn-primary">
            {{ modalForm.value.id ? 'Update': 'Add'}} Account
        </button>

    </div>
</div>

<div *ngIf="isLoading == true">
    <app-loading-spinner></app-loading-spinner>
</div>