<div class="">
    <div class="section-header">

        <filter-section (onFilterChange)="applyFilter($event)" [filterColumns]="filterColumns"
            searchBy="name"></filter-section>

        <div class="section-header-btn-group">
            <button *ngIf="operationList.includes('ExportSubAccount')" onclick="window.print()" class="btn btn-secondary">
                <img src="../../../assets/svg/print.svg" alt="">
                Print
            </button>
            <button *ngIf="operationList.includes('ExportSubAccount')" (click)="getMasterList(true)" class="btn btn-secondary">
                <img src="../../../assets/svg/download.svg" alt="excel icon">
                Export
            </button>

            <button *ngIf="operationList.includes('CreateSubAccount')" (click)="showForm()" class="btn btn-primary">+
                Add
                Sub Account</button>
        </div>
    </div>

    <div class="section-content">
        <app-table [actions]="['view', 'edit', 'delete']" [actionMode]="''" [hasEditPermission]="true"
            [hasDeletePermission]="true" (sortChange)="onSort($event)" [tableHeaders]="tableHeaders"
            [hasDeletePermission]="operationList.includes('DeleteSubAccount')"
            [hasEditPermission]="operationList.includes('EditSubAccount')" [filterData]="filterForm"
            [tableData]="masterList" (onView)="showForm($event, true)" (onEdit)="showForm($event)"
            (onDelete)="deleteItem($event)"></app-table>

        <app-paginator (pageChange)="onChangedPage($event)" [pageSize]="filterForm.pageSize" [length]="length"
            [pageIndex]="filterForm.pageIndex"></app-paginator>
    </div>
</div>

<div *ngIf="isLoading == true">
    <app-loading-spinner></app-loading-spinner>
</div>