<div class="modal full">
    <div class="modal-header">
        <div class="btn btn-outlined no-hover small">
            <img style="cursor: pointer;" src="../../../svg/printer.svg" alt="">
        </div>

        <div class="modal-title-group">

            <h1 class="modal-title" id="modal-title">
                Document Printing
            </h1>
            <h3 class="modal-sub-title">Select a specific range of pages to print your document efficiently.</h3>
        </div>

        <div (click)="closeDialog()" class="btn btn-outlined rounded small close-btn">
            <img style="cursor: pointer;" src="../../../svg/close.svg" alt="">
        </div>
    </div>

    <div class="modal-body">

        <form [formGroup]="printForm">
            <div class="section dark">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-section">
                            <div class="form-group">
                                <label>Print of</label>
                                <div>
                                    <ng-select [clearable]="false" [items]="printTypes" formControlName="type"
                                        (change)="onChangeType($event)"></ng-select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <ng-container
                    *ngIf="!(f['type'].value == 'Material Issue' || f['type'].value == 'Material Issue Return' || f['type'].value == 'Finish Good')">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-section">
                                <div *ngIf="!accounting?.includes(f['type'].value)" class="form-group">
                                    <label>{{f['partyType'].value == 'Vendor'
                                        ? 'Vendor' : 'Customer'}} Name </label>
                                    <div>
                                        <ng-select appFormError [items]="partyList" bindLabel="name" bindValue="id"
                                            [placeholder]="f['partyType'].value == 'Vendor'
                                    ? 'Select Vendor' : 'Select Customer'" formControlName="partyId"
                                            (change)="getCustomerDivisions($event)" [loading]="isSearching"
                                            (input)="onSearch($event)"
                                            [notFoundText]="searchTerm == '' ? 'Please Type to Search' : 'Not Found'"
                                            (focus)="searchTerm=''"
                                            [class.is-invalid]="f['partyId'].invalid && (f['partyId'].dirty ||f['partyId'].touched)">
                                        </ng-select>
                                    </div>
                                </div>

                                <div *ngIf="accounting?.includes(f['type'].value)" class="form-group">
                                    <label>Party Name </label>
                                    <div>
                                        <ng-select appFormError [items]="accountPartyList" bindLabel="name"
                                            bindValue="id" [placeholder]="'Select Party'" formControlName="partyId"
                                            (change)="getAccountDivisions($event)"
                                            [class.is-invalid]="f['partyId'].invalid && (f['partyId'].dirty ||f['partyId'].touched)">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-section">
                                <div class="form-group">
                                    <label>Headquarter</label>

                                    <div>
                                        <ng-select [readonly]="true" appFormError [items]="hqDropdownList"
                                            bindLabel="name" bindValue="id" placeholder="Select Headquarter"
                                            formControlName="hqId"
                                            [class.is-invalid]="f['hqId'].invalid && (f['hqId'].dirty ||f['hqId'].touched)">
                                        </ng-select>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-section">
                                <div class="form-group">
                                    <label>Division</label>

                                    <div>
                                        <ng-select appFormError
                                            [items]="f['partyType'].value == 'Customer' ? divisionDropdownList: divisionList"
                                            bindLabel="name" bindValue="id" placeholder="Select Division"
                                            formControlName="divisionId" (change)="onChangeDivision($event)"
                                            [class.is-invalid]="f['divisionId'].invalid && (f['divisionId'].dirty ||f['divisionId'].touched)">
                                        </ng-select>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>

            <br>

            <div class="section dark">
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-section">
                            <div class="form-group">
                                <label>Number Range</label>

                                <div>
                                    <ng-select appFormError [items]="invoiceList" bindLabel="name" bindValue="id"
                                        placeholder="From" formControlName="fromId" [loading]="isSearching"
                                        (input)="onSearchInvoice($event)"
                                        [notFoundText]="searchTerm == '' ? 'Please Type to Search' : 'Not Found'"
                                        (focus)="searchTerm=''"
                                        [class.is-invalid]="f['fromId'].invalid && (f['fromId'].dirty ||f['fromId'].touched)">
                                    </ng-select>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="form-section">
                            <div class="form-group">
                                <div>
                                    <ng-select appFormError [items]="invoiceList" bindLabel="name" bindValue="id"
                                        placeholder="To" formControlName="toId" [loading]="isSearching"
                                        (input)="onSearchInvoice($event)"
                                        [notFoundText]="searchTerm == '' ? 'Please Type to Search' : 'Not Found'"
                                        (focus)="searchTerm=''"
                                        [class.is-invalid]="f['toId'].invalid && (f['toId'].dirty ||f['toId'].touched)">
                                    </ng-select>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-7">
                        <div class="form-section">
                            <div class="form-group">
                                <label>Date Range</label>

                                <div>
                                    <!-- <ne-datepicker [date]="f['fromDate'].value" [hasMultipleCalendarView]="false"
                                        (dateInBS)="setFromDate($event)" primaryColor="black" language="en"
                                        dateFormat="yyyy-mm-dd">
                                    </ne-datepicker> -->
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="form-section">
                            <div class="form-group">
                                <div>
                                    <!-- <ne-datepicker [date]="f['toDate'].value" [hasMultipleCalendarView]="false"
                                        (dateInBS)="setToDate($event)" primaryColor="black" language="en"
                                        dateFormat="yyyy-mm-dd">
                                    </ne-datepicker> -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-section">
                            <div class="form-group">
                                <label>No. of Copies</label>

                                <div>
                                    <input appPositiveNumbers type="number" class="form-control"
                                        formControlName="noOfPrint">
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </form>


    </div>
    <div class="modal-footer">
        <button (click)="closeDialog()" class="btn btn-secondary btn-transparent">
            Cancel
        </button>
        <button (click)="onSubmit()" class="btn btn-primary">
            Print
        </button>
    </div>
</div>

<!-- <div *ngIf="isLoading == true">
    <app-loading-spinner></app-loading-spinner>
</div> -->