<div class="modal">
    <div class="modal-header">
        <div class="btn btn-outlined no-hover small">
            <img style="cursor: pointer;" src="../../../svg/printer.svg" alt="">
        </div>

        <div class="modal-title-group">
            <h1 class="modal-title" id="modal-title">
                Document Printing
            </h1>
            <h3 class="modal-sub-title">
                Select a specific range of pages to print your document efficiently.
            </h3>
        </div>

        <div (click)="closeDialog()" class="btn btn-outlined rounded small close-btn">
            <img style="cursor: pointer;" src="../../../svg/close.svg" alt="">
        </div>
    </div>

    <div class="modal-body">

        <form [formGroup]="printForm">

            <!-- DOCUMENT DETAILS -->
            <div class="section section-dark">
                <h1 class="section-title">Document Details</h1>

                <br>

                <div class="row g-2">

                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Print of</label>

                            <ng-select
                                [placeholder]="'Select Print of'"
                                [clearable]="false"
                                [items]="printTypes"
                                formControlName="type"
                                (change)="onChangeType($event)">
                            </ng-select>

                        </div>
                    </div>

                    <ng-container
                        *ngIf="!(f['type'].value == 'Material Issue' || f['type'].value == 'Material Issue Return' || f['type'].value == 'Finish Good')">

                        <!-- PARTY -->
                        <div class="col-md-12">

                            <div *ngIf="!accounting.includes(f['type'].value)" class="form-group">

                                <label>
                                    {{f['partyType'].value == 'Vendor' ? 'Vendor' : 'Customer'}} Name
                                </label>

                                <ng-select
                                    appFormError
                                    [items]="partyList()"
                                    bindLabel="name"
                                    bindValue="id"
                                    [placeholder]="f['partyType'].value == 'Vendor' ? 'Select Vendor' : 'Select Customer'"
                                    formControlName="partyId"
                                    (change)="getCustomerDivisions($event)"
                                    [loading]="isSearching()"
                                    (input)="onSearch($event)"
                                    [notFoundText]="searchTerm() == '' ? 'Please Type to Search' : 'Not Found'"
                                    (focus)="searchTerm.set('')"
                                    [class.is-invalid]="f['partyId'].invalid && (f['partyId'].dirty ||f['partyId'].touched)">
                                </ng-select>

                            </div>

                            <!-- ACCOUNT PARTY -->
                            <div *ngIf="accounting.includes(f['type'].value)" class="form-group">

                                <label>Party Name</label>

                                <ng-select
                                    appFormError
                                    [items]="accountPartyList()"
                                    bindLabel="name"
                                    bindValue="id"
                                    [placeholder]="'Select Party'"
                                    formControlName="partyId"
                                    (change)="getAccountDivisions($event)"
                                    [class.is-invalid]="f['partyId'].invalid && (f['partyId'].dirty ||f['partyId'].touched)">
                                </ng-select>

                            </div>

                        </div>


                        <!-- HEADQUARTER -->
                        <div class="col-md-12">

                            <div class="form-group">

                                <label>Headquarter</label>

                                <ng-select
                                    [readonly]="true"
                                    appFormError
                                    [items]="hqDropdownList()"
                                    bindLabel="name"
                                    bindValue="id"
                                    placeholder="Select Headquarter"
                                    formControlName="hqId"
                                    [class.is-invalid]="f['hqId'].invalid && (f['hqId'].dirty ||f['hqId'].touched)">
                                </ng-select>

                            </div>

                        </div>


                        <!-- DIVISION -->
                        <div class="col-md-12">

                            <div class="form-group">

                                <label>Division</label>

                                <ng-select
                                    appFormError
                                    [items]="f['partyType'].value == 'Customer' ? divisionDropdownList() : divisionList()"
                                    bindLabel="name"
                                    bindValue="id"
                                    placeholder="Select Division"
                                    formControlName="divisionId"
                                    (change)="onChangeDivision($event)"
                                    [class.is-invalid]="f['divisionId'].invalid && (f['divisionId'].dirty ||f['divisionId'].touched)">
                                </ng-select>

                            </div>

                        </div>

                    </ng-container>

                </div>

            </div>

            <br>

            <!-- SELECT RANGE -->
            <div class="section section-dark">

                <h1 class="section-title">Select Range</h1>

                <br>

                <div class="row g-2">

                    <!-- FROM INVOICE -->
                    <div class="col-md-6">

                        <div class="form-group">

                            <label>Number Range From</label>

                            <ng-select
                                appFormError
                                [items]="invoiceList()"
                                bindLabel="name"
                                bindValue="id"
                                placeholder="From"
                                formControlName="fromId"
                                [loading]="isSearching()"
                                (input)="onSearchInvoice($event)"
                                [notFoundText]="searchTerm() == '' ? 'Please Type to Search' : 'Not Found'"
                                (focus)="searchTerm.set('')"
                                [class.is-invalid]="f['fromId'].invalid && (f['fromId'].dirty ||f['fromId'].touched)">
                            </ng-select>

                        </div>

                    </div>

                    <!-- TO INVOICE -->
                    <div class="col-md-6">

                        <div class="form-group">

                            <label>Number Range To</label>

                            <ng-select
                                appFormError
                                [items]="invoiceList()"
                                bindLabel="name"
                                bindValue="id"
                                placeholder="To"
                                formControlName="toId"
                                [loading]="isSearching()"
                                (input)="onSearchInvoice($event)"
                                [notFoundText]="searchTerm() == '' ? 'Please Type to Search' : 'Not Found'"
                                (focus)="searchTerm.set('')"
                                [class.is-invalid]="f['toId'].invalid && (f['toId'].dirty ||f['toId'].touched)">
                            </ng-select>

                        </div>

                    </div>

                    <!-- FROM DATE -->
                    <div class="col-md-6">

                        <div class="form-group">

                            <label>Date Range From</label>

                            <ne-datepicker
                                [date]="f['fromDate'].value"
                                [hasMultipleCalendarView]="false"
                                (dateInBS)="setFromDate($event)"
                                primaryColor="black"
                                language="en"
                                dateFormat="yyyy-mm-dd">
                            </ne-datepicker>

                        </div>

                    </div>

                    <!-- TO DATE -->
                    <div class="col-md-6">

                        <div class="form-group">

                            <label>Date Range To</label>

                            <ne-datepicker
                                [date]="f['toDate'].value"
                                [hasMultipleCalendarView]="false"
                                (dateInBS)="setToDate($event)"
                                language="en"
                                dateFormat="yyyy-mm-dd">
                            </ne-datepicker>

                        </div>

                    </div>

                </div>

            </div>

            <br>

            <!-- NO OF COPIES -->
            <div class="section">

                <div style="gap: 16px; margin-bottom: 16px;" class="d-flex">

                    <img style="cursor: pointer;" src="../../../svg/printer-color.svg" alt="">

                    <div>
                        <h1 class="section-title">No. of Copies</h1>
                        <h3 class="section-sub-title">
                            Specify how many copies of the selected document you want to print.
                        </h3>
                    </div>

                </div>

                <div class="d-flex justify-content-end">

                    <input
                        style="width: 100px;"
                        appPositiveNumbers
                        type="number"
                        class="form-control"
                        formControlName="noOfPrint">

                </div>

            </div>

        </form>

    </div>

    <div class="modal-footer">

        <app-button (click)="closeDialog()" type="secondary" label="Cancel" />

        <app-button (click)="onSubmit()" type="primary" label="Print" />

    </div>

</div>