.dropdown-menu {
    position: relative;

    &.active {
        ::ng-deep [dropdown-display] {
            background-color: var(--separator);
            border-radius: 8px;
        }
    }
}

.dropdown-content {
    position: fixed;
    z-index: 10;

    opacity: 0;
    transform: translateY(-5px);
    transition: opacity 0.25s ease-out,
        transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);

    &.visible {
        opacity: 1;
        transform: translateY(0);
    }



    display: flex;
    flex-direction: column;

    padding: 8px;
    border-radius: 12px;
    border: 1px solid var(--separator);
    background: var(--bg-lightest);
    box-shadow: 3px 9px 32px rgba(0, 0, 0, 0.1);

    &.nopadding {
        padding: 0;
    }
}

:host ::ng-deep [dropdown-item] {
    padding: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
        background-color: var(--separator-light);
    }

    &.active {
        background-color: var(--accent-bg);
        color: var(--accent, #006ae4);
    }
}

:host ::ng-deep [dropdown-display] {
    cursor: pointer;
}