<div style="width: 500px;" class="modal">
    <div class="modal-header">
        <div class="modal-title-group">
            <h1 class="modal-title">
                Delete Confirmation
            </h1>
        </div>
        <div (click)="closeDialog()" class="btn btn-outlined rounded small close-btn">
            <img style="cursor: pointer;" src="../../../assets/svg/close.svg" alt="">
        </div>
    </div>

    <div class="modal-body">

        Are You Sure You want to delete?


    </div>
</div>
<div class="modal-footer">
    <button (click)="closeDialog()" type="button" class="btn btn-secondary">
        Cancel
    </button>
    <button (click)="deleteItem()" type="button" class="btn btn-primary">
        Delete
    </button>
</div>