<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        @for (item of tableHeaders(); track item.property) {
        <th [style.width]="item.property === 'sn' ? '100px' : null" [class.text-end]="item.align === 'right'">
          @if (item.sort) {
          <a class="sort-by" (click)="onSort(item)">{{ item.name }}</a>
          } @else {
          {{ item.name }}
          }
        </th>
        }

        @if (actions().length > 0) {
        <th style="width: 100px;" class="text-center print-hidden">Action</th>
        }
      </tr>
    </thead>

    @if (tableData().length > 0) {
    <tbody>
      @for (data of tableData(); track data.id; let rowIndex = $index) {
      <tr>
        @for (header of tableHeaders(); track header.property; let colIndex = $index) {
        <td [class.text-end]="header.align === 'right'">

          @if (header.property === 'sn') {
          {{ rowIndex + filterData().pageIndex * filterData().pageSize + 1 }}
          }

          @else if (header.status) {
          <span class="status" [class.success]="data[header.property]" [class.error]="!data[header.property]">
            <div class="circle"></div>
            {{ data[header.property] ? 'Active' : 'Inactive' }}
          </span>
          }

          @else if (header.special_status) {
          <span class="status" [ngClass]="{
                      'success': ['Active', 'Purchased', 'Issued'].includes(data[header.property]),
                      'error': ['Inactive', 'Cancelled'].includes(data[header.property]),
                      'warn': data[header.property] === 'Pending',
                      'primary': ['Frozen', 'Hold'].includes(data[header.property]),
                      'disabled': data[header.property] === 'Vacant'
                    }">
            <div class="circle"></div>
            {{ data[header.property] }}
          </span>
          }

          @else if (header.date) {
          <span>{{ data[header.property] || '-' }}</span>
          }

          @else if (header.amount) {
          <span>{{ data[header.property] | amount }}</span>
          }

          @else {
          {{ data[header.property]}}
          }
        </td>
        }

        <td class="print-hidden">
          <div class="actions">
            <app-menu [mode]="'right'">
  
              <div dropdown-display>
                <button class="btn btn-outlined small">
                  <img src="../../../svg/more.svg" alt="">
                </button>
              </div>
  
              <div dropdown-content>
                @if (actions().includes('view')) {
                <div (click)="onView.emit(data)" class="dropdown-item" dropdown-item>
                  <img src="../../../svg/eye.svg" alt="" /> View Details
                </div>
                }
  
                @if (actions().includes('edit') && hasEditPermission()) {
                <div (click)="onEdit.emit(data)" class="dropdown-item" dropdown-item>
                  <img src="../../../svg/edit.svg" alt="" /> Edit Details
                </div>
                }
  
                @if (actions().includes('delete') && hasDeletePermission()) {
                <div (click)="onDelete.emit(data)" class="dropdown-item" dropdown-item>
                  <img src="../../../svg/trash.svg" alt="" /> Delete
                </div>
                }
              </div>
  
            </app-menu>
          </div>
        </td>
      </tr>
      }
    </tbody>
    } @else {
    <tbody>
      <tr>
        <td class="no-data" [attr.colspan]="tableHeaders().length + 1">
          <h3>No Data</h3>
          <p>No Records Found...</p>
        </td>
      </tr>
    </tbody>
    }
  </table>
</div>