<div class="form-group" [class.view]="isView()">
    @if (label()) {
    <label>
        {{ label() }}

        @if (isRequired && !isView()) {
        <span>*</span>
        }
    </label>
    }

    @if (isView()) {
        <span class="value">
            {{ getSelectedLabel() || 'N/A' }}
        </span>
    }
    @else {

        <div class="input-wrapper">
            @if (leftIcon()) {
                <span class="left-icon">
                    <app-icon [size]="'18px'" (click)="leftIconClick.emit()" [name]="leftIcon()"></app-icon>
                </span>
            }

            <ng-select
                [items]="items()"
                [bindLabel]="bindLabel()"
                [bindValue]="bindValue()"
                [placeholder]="placeholder()"
                [clearable]="clearable()"
                [searchable]="searchable()"
                [multiple]="multiple()"
                [class.error]="hasError"
                (change)="onSelectChange($event)"
                (blur)="onTouched(); handleBlur($event)"
                (focus)="handleFocus($event)"
            >
            </ng-select>

            @if (rightIcon()) {
                <div class="right-icon">
                    <app-icon (click)="rightIconClick.emit()" [name]="rightIcon()"></app-icon>
                </div>
            }
        </div>
    }

    @if (showErrorMessage() && hasError) {
    <div class="alert error">
        {{ errorMessage() }}
    </div>
    }
</div>