<div class="section main">
  <div class="section-content">
    <div style="height: calc(100vh - 120px);" class="table-responsive">
      <table class="table">
        <thead class="sticky-top">
          <tr>
            <th><a>SN</a></th>
            <th>Module</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Prefix</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngIf="documentNumberList.length > 0;">
          <tr *ngFor="let product of documentNumberList; let i = index;">
            <td>{{ i + 1 }} </td>
            <td>{{ product?.module || "-" }}</td>
            <td>{{ product?.name || "-" }}</td>
            <td>{{ product?.start_date || "-" }}</td>
            <td>{{ product?.end_date || "-" }}</td>
            <td>{{ product?.prefix || "-" }}</td>
            <td class="print-hidden">
              <div class="actions">
                <div class="btn btn-outlined small">
                  <img (click)="viewBillingTerm(product)" src="../../../svg/eye.svg" alt="" />
                </div>
              </div>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>


</div>

<ng-template #modal>
  <div style="width: 800px;" class="modal">
    <div class="modal-header">
      <div class="modal-titles">
        <h1 class="modal-title">
          {{formTitle}} Document Numbering Scheme
        </h1>
      </div>
      <app-button (click)="closeDialog()" type="outlined" [rounded]="true" size="sm" icon="close" />
    </div>
    <div class="modal-body">
      <div class="row gy-2">
        <div class="col-md-12">

          <div style="flex-direction: row; justify-content: space-between;" class="form-group view">
            <label>Module</label>
            <div class="chip primary">
              <div class="circle"></div>
              {{ documentNumberView?.module || '-' }}
            </div>
          </div>

        </div>

        <div class="col-md-12">
          <div style="flex-direction: row; justify-content: space-between;" class="form-group view">
            <label>Sub Module</label>
            <div class="chip info">
              <div class="circle"></div>
              {{ documentNumberView?.name || '-' }}
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="section section-dark">
            <div class="section-title">
              Valid Date
            </div>


            <div class="row">
              <div class="col-md-3">
                <div class="form-group view">
                  <label>Start Date</label>
                  <span>{{ documentNumberView?.start_date || '-' }}</span>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group view">
                  <label>End Date</label>
                  <span>{{ documentNumberView?.end_date || '-' }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-12">
          <div class="section section-dark">
            <div class="section-title">
              Numbering Style and Format
            </div>


            <div class="row">
              <div class="col-md-3">
                <div class="form-group view">
                  <label>Numbering Style</label>
                  <span>{{ documentNumberView?.numbering_style || '-' }}</span>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group view">
                  <label>Prefix</label>
                  <span>{{ documentNumberView?.prefix || '-' }}</span>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group view">
                  <label>Body Length</label>
                  <span>{{ documentNumberView?.body_length || '-' }}</span>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group view">
                  <label>Total Length</label>
                  <span>{{ documentNumberView?.total_length || '-' }}</span>
                </div>
              </div>

            </div>
          </div>
        </div>


        <div class="col-md-12">
          <div class="section section-dark">
            <div class="section-title">
              Option
            </div>


            <div class="row">
              <div class="col-md-3">
                <div class="form-group view">
                  <label>Start No.</label>
                  <div>{{ documentNumberView?.start_no || '-' }}</div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group view">
                  <label>Current No.</label>
                  <span>{{ documentNumberView?.current_no || '-' }}</span>
                </div>
              </div>


              <div class="col-md-3">
                <div class="form-group view">
                  <label>End No.</label>
                  <span>{{ documentNumberView?.end_no || '-' }}</span>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>