.config-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: calc(100vh - 250px);
  align-items: center;
  gap: 20px;
}

.config-item {
  display: flex;
  width: 898px;
  padding: 16px;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  border: 1px solid var(--separator-color);
  background: var(--bg-lightest-color);
  box-shadow: 0 1px 2px 0 rgba(13, 13, 18, 0.06);

  .config-item-title-group {
    flex: 1;

    .config-title {
      color: var(--text-primary-color);
      font-size: 15px;
      font-weight: 500;
      line-height: 24px;
    }

    .config-sub-title {
      color: var(--text-quaternary-color);
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
  }
}
