<div class="modal">
    <div class="modal-header">

        <div class="btn btn-outlined no-hover small">
            <img style="cursor: pointer;" src="../../../assets/svg/add.svg" alt="">
        </div>

        <div class="modal-title-group">
            <h1 class="modal-title">
                {{mode}} {{title}}
            </h1>
            <h2 class="modal-sub-title">
                Provide required information to {{mode}} {{title}}.
            </h2>
        </div>
        <div (click)="closeDialog()" class="btn btn-outlined rounded small close-btn">
            <img style="cursor: pointer;" src="../../../assets/svg/close.svg" alt="">
        </div>
    </div>
    <div class="modal-body">
        <form class="row g-2" [formGroup]="modalForm">

            <div *ngIf="title!='Narration'" class="col-md-12">
                <div class="form-group">
                    <label>{{title}}</label>
                    <input type="text" class="form-control" formControlName="name" [placeholder]="placeholder" />
                </div>
            </div>

            <div *ngIf="title=='Narration'" class="col-md-12">
                <div class="form-group">
                    <label>{{title}}</label>
                    <textarea class="form-control" formControlName="name" [placeholder]="placeholder"></textarea>
                </div>
            </div>

            <!-- Tax Type Section  -->
            <div *ngIf="title=='Tax Type'" class="col-md-12">
                <ng-container>
                    <div class="form-group">
                        <label>Tax Rate</label>
                        <input type="number" class="form-control" formControlName="tax_rate"
                            placeholder="Enter Tax Rate" />
                    </div>

                    <div class="form-group">
                        <label>Remarks</label>
                        <input type="text" class="form-control" formControlName="remarks" placeholder="Enter Remarks" />
                    </div>
                </ng-container>
            </div>
            <!-- Tax Type Section End -->

            <!-- Transport Section  -->
            <div *ngIf="title=='Transport'" class="col-md-12">
                <ng-container>
                    <div class="form-group">
                        <label>Contact No.</label>
                        <input type="text" class="form-control" formControlName="contact_no"
                            placeholder="Enter Contact No." />
                    </div>
                </ng-container>
            </div>
            <!-- Transport Section End -->


            <!-- Division Section  -->
            <div *ngIf="title=='Division'" class="col-md-12">
                <div class="form-group">
                    <label>Company</label>
                    <ng-select [items]="companiesDrpDown" bindLabel="name" bindValue="id" formControlName="company_id"
                        placeholder="Select Company">
                    </ng-select>
                </div>
            </div>
            <!-- Division Section End  -->

            <!-- Designation Section  -->
            <div *ngIf="title=='Designation'" class="col-md-12">
                <div class="form-group">
                    <div class="d-flex align-items-center gap-md">

                        <label>Show on Sales Order</label>
                        <input type="checkbox" formControlName="is_sales_order">
                    </div>
                </div>
            </div>
            <!-- Division Section End  -->

            <!-- Discount Category Section  -->
            <ng-container *ngIf="title=='Discount Category'">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Discount Type <span class="text-danger">*</span></label>
                        <div>
                            <div class="d-flex align-items-center gap-md">

                                <input [useValidation]="false" (change)="toggleDiscountType()" class="form-check-input"
                                    type="radio" value="Flat" formControlName="discount_type" />
                                <label style="min-width: 0px !important;" class="form-check-label"> Flat
                                </label>


                                <input [useValidation]="false" (change)="toggleDiscountType()" class="form-check-input"
                                    type="radio" value="Dynamic" formControlName="discount_type" />
                                <label style="min-width: 0px !important;" class="form-check-label"> Dynamic
                                </label>


                                <input [useValidation]="false" (change)="toggleDiscountType()" class="form-check-input"
                                    type="radio" value="Flat-Dynamic" formControlName="discount_type" />
                                <label style="min-width: 0px !important;" class="form-check-label"> Flat &
                                    Dynamic </label>

                            </div>

                        </div>

                        <div *ngIf="
                                f['discount_type'].invalid &&
                                (f['discount_type'].dirty || f['discount_type'].touched)" class="alert error">
                            This field is required.
                        </div>

                    </div>
                </div>


                <div class="col-md-12">
                    <div *ngIf="showMode == 'table' || showMode == 'both'" class="form-group">
                        <label>Apply on</label>
                        <ng-select formControlName="apply_on" placeholder="Select Amount Type">
                            <ng-option [value]="'Net Amount'">Net Amount</ng-option>
                            <ng-option [value]="'Gross Amount'">Gross Amount</ng-option>
                        </ng-select>
                    </div>
                </div>

                <div class="col-md-12">
                    <div *ngIf="showMode == 'value' || showMode == 'both'" class="form-group">
                        <label>Discount (%)</label>

                        <input placeholder="Enter Discount" appPositiveNumbers class="form-control"
                            formControlName="flat_discount" type="number">

                    </div>
                </div>
            </ng-container>
            <!-- Discount Category Section End -->


            <div class="col-md-12">
                <div class="form-group">
                    <label for="">Status </label>
                    <label class="switch">
                        <input formControlName="status" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>

            <!-- CustomerCategory Condition Section  -->
            <ng-container *ngIf="title=='Discount Category' && (showMode == 'table' || showMode == 'both')">
                <div class="list-title">Discount Details</div>
                <br>
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Payment Days(less than or equal) </th>
                                <th>Discount (%)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody formArrayName="discount_details">
                            <tr *ngFor="let entry of discount_details.controls; index as i">
                                <ng-container [formGroupName]="i">
                                    <td *ngIf="showMode == 'table' || showMode == 'both'">
                                        <div class="form-group">
                                            <input appPositiveNumbers class="form-control" placeholder="Enter Days"
                                                formControlName="payment_days" type="number">
                                        </div>
                                    </td>
                                    <td style="max-width: 60px;">
                                        <div class="form-group">
                                            <input appPositiveNumbers class="form-control" placeholder="Enter Discount"
                                                formControlName="discount_value" type="number">

                                        </div>
                                    </td>

                                    <td>
                                        <div>
                                            <button class="btn" (click)="removeDiscountCondition(i)"><i
                                                    class="fa-solid fa-circle-minus"></i></button>
                                        </div>
                                    </td>
                                </ng-container>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td style="border: none;" colspan="4" rowspan="2">
                                    <button class="btn btn-secondary btn-transparent text-uppercase"
                                        (click)="addDiscountCondition()"><i class="fa-solid fa-circle-plus"></i>
                                        Add Row</button>
                                </td>

                            </tr>
                            <tr>
                            </tr>
                        </tfoot>
                    </table>

                </div>


            </ng-container>
            <!-- CustomerCategory Condition Section End  -->

        </form>
    </div>
    <div class="modal-footer">
        <button (click)="closeDialog()" type="button" class="btn btn-secondary">
            Cancel
        </button>
        <button (click)="save()" type="button" class="btn btn-primary">
            {{ mode }} {{title}}
        </button>
    </div>

    <div *ngIf="isLoading == true">
        <app-loading-spinner></app-loading-spinner>
    </div>