<div class="filter-section">
    <div class="input-wrapper">
        <img class="left-icon" src="../../../svg/search.svg" alt="">
        <input placeholder="Search" type="text" class="form-control" [ngModel]="searchText()"
            (ngModelChange)="searchText.set($event)" (keyup.enter)="onSearch()" />
    </div>

    <app-menu #filterDropdown [contentMode]="true" [closeOnItemClick]="false" [showActiveState]="false">
        <button [class.active]="filterDropdown.isOpen()" dropdown-display class="filter-btn" type="button">
            <img class="icon"
                [src]="filterDropdown.isOpen() ? '../../../svg/filter-active.svg' : '../../../svg/filter.svg'" alt="">
            Filters
            <button class="btn btn-outlined no-hover">{{ filterColumns().length }}</button>
            <img [src]="filterDropdown.isOpen() ? '../../../svg/caret-down-active.svg' : '../../../svg/caret-down.svg'"
                alt="">
        </button>

        <div dropdown-content class="filter-dropdown">
            <div class="filter-header">
                <h1 class="filter-header-title">Filter</h1>
                <div (click)="closeDropdown()" type="button" class="btn btn-outlined small rounded">
                    <img src="../../../svg/close.svg" alt="">
                </div>
            </div>

            <div class="filter-body">
                @for (filter of filterColumns(); track $index) {
                <div class="form-group">
                    <label>{{filter.name}}</label>

                    @if (filter.type === 'text') {
                    <input (keyup.enter)="applyFilter()" class="form-control" [placeholder]="filter.name" type="text"
                        [(ngModel)]="filter.value">
                    }

                    @if (filter.type === 'select') {
                    <ng-select [appendTo]="'body'" bindLabel="name" bindValue="id" [(ngModel)]="filter.value"
                        [items]="filter.data" [placeholder]="'Select'">
                    </ng-select>
                    }
                </div>
                }
            </div>

            <div class="filter-footer">
                <button class="btn btn-secondary" (click)="closeDropdown()">Cancel</button>
                <button class="btn btn-primary" (click)="applyFilter()">Apply</button>
            </div>
        </div>
    </app-menu>

    @if (showFromDate() || showToDate()) {
        <div class="filter-btn date">
            <span [class.active]="dateType() === 'AD'" (click)="dateType.set('AD')" class="datelabel">AD</span>
            <span class="sep">|</span>
            <span [class.active]="dateType() === 'BS'" (click)="dateType.set('BS')" class="datelabel">BS</span>
        </div>
    }

    @if (showFromDate()) {
    <div style="width: 130px;" class="d-flex align-items-center gap-md">
        <ne-datepicker [calendarView]="dateType()" [date]="fromDate()" language="en" [hasMultipleCalendarView]="false"
            (dateInBS)="setFromDate($event)" placeholder="From Date" dateFormat="yyyy-mm-dd">
        </ne-datepicker>
    </div>
    }

    @if (showToDate()) {
    <div style="width: 130px;" class="d-flex align-items-center gap-md">
        <ne-datepicker [calendarView]="dateType()" [date]="toDate()" language="en" [hasMultipleCalendarView]="false"
            (dateInBS)="setToDate($event)" placeholder="To Date" dateFormat="yyyy-mm-dd">
        </ne-datepicker>
    </div>
    }
</div>

@if (filterList().length > 0) {
    <div class="filter-options">
        @for (item of filterList(); track item.formcontrolName) {
        @if (item.type !== 'search') {
        <div class="filter-item">
            <span>{{item.filterName}}: {{item.displayValue}}</span>
            <img (click)="removeFilter(item)" src="../../../svg/cross.svg" alt="">
        </div>
        }
        }
    
        @if (filterList().length > 0) {
        <span class="reset-text" (click)="removeAllFilter()">Reset Filters</span>
        }
    </div>
}