<mat-sidenav-container [class.is-collapsed]="isCollapsed" [class.is-full-collapsed]="isSmallScreen"
    class="main-container">
    <mat-sidenav [class.collapsed]="isCollapsed" [opened]="!isSmallScreen" class="sidenav" #sidenav
        [mode]="isSmallScreen ? 'over' : 'side'">
        <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content class="main-content">
        <app-header></app-header>
        <div class="outlet-content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>