<div class="sidebar" [class.collapsed]="isCollapsed()">
    <div class="logo-container">
        <h1 class="logo">ABIS</h1>

        <div (click)="toggleSidebar()" style="padding: 4px;" class="btn btn-outlined">
            <img style="cursor: pointer;" src="../../../svg/sidebar.svg" alt="">
        </div>
    </div>

    <div class="links-container">
        <div class="main-links">
            @if (!activeSubMenu()) {
            <app-menu #q [contentMode]="true" [closeOnItemClick]="false" [showActiveState]="false">
                <div dropdown-display [class.active]="q.isOpen()" class="btn btn-outlined-primary">
                    +
                    @if (!isCollapsed()) {
                    <span> Quick Add Item</span>
                    }
                </div>

                <div dropdown-content class="quickadd-dropdown">
                    <div class="quickadd-header">

                        <div style="padding: 4px;" class="btn btn-outlined no-hover">
                            <img style="cursor: pointer;" src="../../../svg/add.svg" alt="">
                        </div>

                        <div class="title-group">
                            <h1 class="modal-title">
                                Quick Add Items
                            </h1>
                            <h3 class="modal-sub-title">
                                Create items faster using a simplified and efficient entry process.
                            </h3>
                        </div>

                        <img (click)="q.close()" style="cursor: pointer;" src="../../../svg/close.svg" alt="">

                    </div>

                    <div class="quickadd-container">
                        @for (quickItem of quickAddItems; track quickItem.name) {
                        <div class="quickadd-content">
                            <div [style.color]="quickItem.color" class="content-title">
                                <img [src]="'../../../svg/quickadd/' + quickItem.icon + '.svg'" alt="">
                                {{quickItem.name | uppercase}}
                            </div>

                            @for (subQuickItem of quickItem.items; track subQuickItem.name) {
                            <div (click)="openQuickAdd(subQuickItem)" class="content-item">
                                <img src="../../../svg/quickadd/plus.svg" alt="">
                                <span>
                                    {{subQuickItem.name}}
                                </span>
                            </div>
                            }
                        </div>
                        }
                    </div>
                </div>
            </app-menu>

            @for(group of sidebarData; track group.title) {
            <div class="link-group">
                <div class="group-title">
                    {{group.title}}
                </div>

                @for(item of group.items; track item.label) {

                @if (item.children && hasChildPermission(item.children)) {
                <a [matTooltipClass]="'right'" [matTooltip]="item.label" [matTooltipPosition]="'right'" [matTooltipDisabled]="!isCollapsed()" href="javascript:void(0)" (click)="toggleSubMenu(item)" class="link-item">
                    <img [src]="'../../../svg/' + item.icon + '.svg'" alt="">
                    <span>{{ item.label }}</span>
                    <img class="caret" src="../../../svg/caret.svg" alt="">
                </a>
                }
                @else if (hasPermission(item.permission)) {
                <a [matTooltipClass]="'right'" [matTooltip]="item.label" [matTooltipPosition]="'right'" [matTooltipDisabled]="!isCollapsed()" (click)="updateBreadCrumb(item.label, item.link)" [routerLink]="item.link" routerLinkActive="active"
                    #rla="routerLinkActive" class="link-item">
                    <img [src]="'../../../svg/' + (rla.isActive ? item.activeIcon : item.icon) + '.svg'" alt="">
                    <span>{{ item.label }}</span>
                </a>
                }

                }
            </div>
            }
            }
            @else {
            <div class="link-group cursor-pointer">
                <div (click)="clearSubMenu()" class="group-title sub">
                    <img class="caret rotate-180" src="../../../svg/caret.svg" alt="">
                    <span>
                        {{activeSubMenu().label | uppercase }}
                    </span>
                </div>

                @for(item of activeSubMenu().children; track item.label) {
                @if (hasPermission(item.permission)) {
                <a [matTooltipClass]="'right'" [matTooltip]="item.label" [matTooltipPosition]="'right'" [matTooltipDisabled]="!isCollapsed()" (click)="updateBreadCrumb(item.label, item.link, activeSubMenu().label)" [routerLink]="item.link"
                    routerLinkActive="active" #rla="routerLinkActive" class="link-item">
                    @if (item.icon) {
                    <img [src]="'../../../svg/' + (rla.isActive ? item.activeIcon : item.icon) + '.svg'" alt="">
                    }
                    <span>{{ item.label }}</span>
                </a>
                }
                }
            </div>
            }
        </div>

        <div class="bottom-links">
            <a [matTooltipClass]="'right'" [matTooltip]="'User Manual'" [matTooltipDisabled]="true" [routerLink]="'help'" routerLinkActive="active"
                #rla="routerLinkActive" class="link-item">
                <img [src]="'../../../svg/user-plus.svg'" alt="">
                <span>User Manual</span>
            </a>
        </div>
    </div>
</div>