<div class="sidebar" [class.collapsed]="isCollapsed()">
    <div class="logo-container">

        @if (isCollapsed()) {
        <h1 class="logo">A</h1>
        }
        @else {
        <h1 class="logo">ABIS</h1>
        }

        <app-button (click)="toggleSidebar()" type="outlined" icon="sidebar" iconSize="16px" size="sm" />
    </div>

    <div class="links-container">
        <div class="main-links">
            @if (!activeSubMenu()) {
            <app-menu #q [contentMode]="true" [closeOnItemClick]="false" [showActiveState]="false">

                <app-button height="32" [fullWidth]="true" dropdown-display icon="add" [iconStrokeWidth]="2"
                    [label]="!isCollapsed() ? 'Quick Add Item' : ''" type="primary-outlined" [active]="q.isOpen()" />

                <div dropdown-content class="quickadd-dropdown">

                    <div class="quickadd-container">
                        @for (quickItem of quickAddItems; track quickItem.name) {
                        <div class="quickadd-content">
                            <div [style.color]="quickItem.color" class="content-title">
                                <app-icon [strokeWidth]="1.5" [name]="quickItem.icon"></app-icon>
                                {{quickItem.name | uppercase}}
                            </div>

                            @for (subQuickItem of quickItem.items; track subQuickItem.name) {
                            <div (click)="openQuickAdd(subQuickItem)" class="content-item">
                                <app-icon [strokeWidth]="1.5" name="add"></app-icon>
                                <span>
                                    {{subQuickItem.name}}
                                </span>
                            </div>
                            }
                        </div>
                        }
                    </div>
                </div>
            </app-menu>

            @for(group of sidebarData; track group.title) {
            <div class="link-group">
                <div class="group-title">
                    {{group.title}}
                </div>

                @for(item of group.items; track item.label) {

                @if (item.children && hasChildPermission(item.children)) {
                <a [matTooltipClass]="'right'" [matTooltip]="item.label" [matTooltipPosition]="'right'"
                    [matTooltipDisabled]="!isCollapsed()" href="javascript:void(0)" (click)="toggleSubMenu(item)"
                    class="link-item">
                    <app-icon [name]="item.icon"></app-icon>

                    <span>{{ item.label }}</span>

                    <app-icon size="14px" name="caret"></app-icon>
                </a>
                }
                @else if (hasPermission(item.permission)) {
                <a [matTooltipClass]="'right'" [matTooltip]="item.label" [matTooltipPosition]="'right'"
                    [matTooltipDisabled]="!isCollapsed()" (click)="updateBreadCrumb(item.label, item.link)"
                    [routerLink]="item.link" routerLinkActive="active" #rla="routerLinkActive" class="link-item">
                    <app-icon [name]="item.icon"></app-icon>
                    <span>{{ item.label }}</span>
                </a>
                }

                }
            </div>
            }
            }
            @else {
            <div [class.animate-in]="showSubMenuAnimation()" class="link-group cursor-pointer submenu-container">
                <div (click)="clearSubMenu()" class="group-title sub">
                    <app-icon class="rotate-180" size="14px" name="caret"></app-icon>
                    <span>
                        {{activeSubMenu()?.label | uppercase }}
                    </span>
                </div>

                @for(item of activeSubMenu()?.children; track item.label) {
                @if (hasPermission(item.permission)) {
                <a [matTooltipClass]="'right'" [matTooltip]="item.label" [matTooltipPosition]="'right'"
                    [matTooltipDisabled]="!isCollapsed()"
                    (click)="updateBreadCrumb(item.label, item.link, activeSubMenu()?.label)" [routerLink]="item.link"
                    routerLinkActive="active" #rla="routerLinkActive" class="link-item">
                    @if (item.icon) {
                    <app-icon [name]="item.icon"></app-icon>
                    }
                    <span>{{ item.label }}</span>
                </a>
                }
                }
            </div>
            }
        </div>

        <div class="bottom-links">
            <a [matTooltipClass]="'right'" [matTooltip]="'User Manual'" [matTooltipDisabled]="true"
                [routerLink]="'help'" routerLinkActive="active" #rla="routerLinkActive" class="link-item">
                <app-icon name="user-plus"></app-icon>
                <span>User Manual</span>
            </a>
        </div>
    </div>
</div>