.dropdown-menu {
    position: relative;

    &.active {
        ::ng-deep [dropdown-display] {
            background-color: var(--separator-color, #e5e7eb);
            border-radius: 8px;
        }
    }
}

.dropdown-content {
    position: fixed;
    z-index: 10;

    opacity: 0;

    &.visible {
        opacity: 1;
    }

    display: flex;
    flex-direction: column;

    padding: 8px;
    border-radius: 12px;
    border: 1px solid var(--separator-color, #e5e7eb);
    background: var(--bg-lightest-color, #fefefe);
    box-shadow: 3px 9px 32px rgba(0, 0, 0, 0.1);

    &.nopadding {
        padding: 0;
    }
}

:host ::ng-deep [dropdown-item] {
    padding: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
        background-color: var(--separator-alt-color, #d1d5db);
    }

    &.active {
        background-color: var(--primary-bg-color, #e6f0fc);
        color: var(--primary-color, #006ae4);
    }
}

:host ::ng-deep [dropdown-display] {
    cursor: pointer;
}