@forward "scss/_colors";
@forward "scss/_chip";
@forward "scss/_modal";
@forward "scss/_utils";
@forward "scss/_bootstrap";
@forward "scss/_section";
@forward "scss/_form";
@forward "scss/_table";
@forward "scss/_button";
@forward 'ngx-toastr/toastr';
@forward "@ng-select/ng-select/themes/default.theme.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 1.25;
  font-weight: 400;
  overflow: hidden;
  background: var(--bg-lightest);
}

.cdk-global-scrollblock {
  overflow-y: auto !important;
}

//datepicker
ne-datepicker {
  align-self: stretch;
}

.nepali-date-picker {
  .np_datepicker_input {
    padding: 6px 8px !important;
    border: 1px solid var(--separator) !important;
    background: var(--bg-lightest) !important;
    border-radius: 8px !important;
    outline: none !important;
    display: flex !important;
    align-self: stretch !important;
    align-items: flex-start !important;
    height: auto !important;
    gap: 12px !important;
    box-shadow: 0 1px 2px 0 rgba(13, 13, 18, 0.06);

    color: var(--text-accent) !important;
    font-size: var(--font-size-small) !important;
    font-weight: var(--font-weight-regular) !important;
    line-height: var(--line-height-small) !important;

    ::placeholder {
      color: var(--disabled) !important;
    }
  }

  .form-icon {
    display: none;
  }
}

.nepali-date-picker .datepicker__container {
  border-radius: 8px;
}

.nepali-date-picker .datepicker__options-container {
  background: var(--accent) !important;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

//NG SELECT
.ng-select {
  align-self: stretch;
  outline: none;
  box-shadow: none;
  padding: 0 !important;
  border: 0 !important;
}

.ng-select .ng-select-container {
  padding: 6px 0px !important;
  height: auto !important;
  min-height: auto !important;
  border: 1px solid var(--separator);
  background: var(--bg-lightest);
  border-radius: 8px;


  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--accent-bg);
    border: var(--accent);
  }
}

.ng-select .ng-select-container .ng-value-container .ng-input {
  padding-left: 8px;
  position: static;
}

.ng-select .ng-spinner-loader {
  display: none;
}

.ng-select .ng-clear-wrapper {
  height: 17px;
}

.mat-mdc-tooltip {
  position: relative;
  background: gray;
  border-radius: 8px;
  color: white;

  &::after {
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.5rem solid gray;
  }

  &.below {
    overflow: initial;
    margin-top: 1rem;

    &:after {
      top: -0.5rem;
      right: calc(50% - 0.5rem);
      transform: rotate(0);
    }
  }

  &.above {
    overflow: initial;
    margin-bottom: 1rem;

    &:after {
      bottom: -0.5rem;
      right: calc(50% - 0.5rem);
      transform: rotate(180deg);
    }
  }

  &.right {
    overflow: initial;
    margin-left: 1rem;

    &:after {
      left: -0.65rem;
      top: calc(50% - 0.25rem);
      transform: rotate(270deg);
    }
  }

  &.left {
    overflow: initial;
    margin-right: 1rem;

    &:after {
      right: -0.75rem;
      top: calc(50% - 0.25rem);
      transform: rotate(90deg);
    }
  }
}


.print-only {
  display: none;
}

@media print {

  .sidenav,
  .sidebar,
  .header,
  .section-header,
  .filter-section,
  .paginator,
  .print-hidden,
  .sort-by:before,
  .sort-by:after {
    display: none !important;
    height: 0 !important;
    width: 0 !important;
  }

  .print-only {
    display: block;
  }

  .main-content {
    .outlet-content {
      padding: 0 !important;
    }
  }

  .section,
  .section-content {
    padding: 0 !important;
    margin: 0 !important;
    border: none;
  }

  td,
  th {
    padding: 4px !important;
    font-size: 12px !important;
    white-space: nowrap;
  }

  .table-responsive {
    overflow: visible !important;
    width: 100% !important;
  }

  .mat-drawer-container {
    overflow: visible !important;
    margin-left: -240px !important;
  }
}