@forward "scss/_colors";
@forward "scss/_button";
@forward "scss/_chip";
@forward "scss/_modal";
@forward "scss/_utils";
@forward "scss/_bootstrap";
@forward "scss/_section";
@forward "scss/_form";
@forward "scss/_table";
@forward 'ngx-toastr/toastr';
@forward "@ng-select/ng-select/themes/default.theme.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 1.25;
  font-weight: 400;
  overflow: hidden;
}

.cdk-global-scrollblock {
  overflow-y: auto !important;
}

//datepicker
ne-datepicker {
  align-self: stretch;
}

.nepali-date-picker {
  .np_datepicker_input {
    padding: 8px !important;
    border: 1px solid var(--separator-color) !important;
    background-color: var(--bg-lightest-color) !important;
    border-radius: 8px !important;
    outline: none !important;
    display: flex !important;
    align-self: stretch !important;
    align-items: flex-start !important;
    height: auto !important;
    gap: 12px !important;
    box-shadow: 0 1px 2px 0 rgba(13, 13, 18, 0.06);

    color: var(--text-primary-color) !important;
    font-size: var(--font-size-small) !important;
    font-weight: var(--font-weight-regular) !important;
    line-height: var(--line-height-small) !important;

    ::placeholder {
      color: var(--disabled-color) !important;
    }
  }

  .form-icon {
    display: none;
  }
}

.nepali-date-picker .datepicker__container {
  border-radius: 8px;
}

.nepali-date-picker .datepicker__options-container {
  background-color: var(--primary-color) !important;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

//NG SELECT
.ng-select {
  align-self: stretch;
  outline: none;
  box-shadow: none;
  padding: 0 !important;
  border: 0 !important;
  box-shadow: 0 1px 2px 0 rgba(13, 13, 18, 0.06);
}

.ng-select .ng-select-container {
  padding: 8px !important;
  height: auto !important;
  border: 1px solid var(--separator-color);
  background-color: var(--bg-lightest-color);
  border-radius: 8px;


  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--primary-bg-color);
    border-color: var(--primary-color);
  }
}

.ng-select .ng-select-container .ng-value-container .ng-input {
  padding-left: 8px;
  position: static;
}

.ng-select .ng-spinner-loader {
  display: none;
}


.print-only {
  display: none;
}

@media print {

  .sidenav,
  .sidebar,
  .header,
  .section-header,
  .filter-section,
  .paginator,
  .print-hidden,
  .sort-by:before,
  .sort-by:after {
    display: none !important;
    height: 0 !important;
    width: 0 !important;
  }

  .print-only {
    display: block;
  }

  .main-content {
    .outlet-content {
      padding: 0 !important;
    }
  }

  .section, .section-content {
    padding: 0 !important;
    margin: 0 !important;
    border: none;
  }

  td, th {
    padding: 4px !important;
    font-size: 12px !important;
  }

  .table-responsive {
    overflow: visible !important;
    width: 100% !important;
  }

  .mat-drawer-container {
    overflow: visible !important;
    margin-left: -240px !important;
  }
}