.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  border-radius: 8px;
  outline: none;
  border: 0px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
  height: fit-content;

  &.rounded {
    border-radius: 50% !important;
  }

  &.small {
    padding: 4px !important;
  }
}


.btn-primary {
  background-color: var(--primary-color);
  color: var(--text-white-color);
  border-bottom: 2px solid var(--primary-alt-color);
  box-shadow: 0 1px 2px 0 rgba(13, 13, 18, 0.06);

  &:hover {
    background-color: var(--primary-alt-color);
    border-bottom: 2px solid var(--primary-alt-color);
  }

  &:disabled {
    background-color: var(--disabled-color);
    color: var(--text-disabled-color);
  }
}

.btn-secondary {
  background-color: var(--bg-dark-color);
  color: var(--text-primary-color);
  border-bottom: 2px solid var(--bg-darkest-color);
  box-shadow: 0 1px 2px 0 rgba(13, 13, 18, 0.06);

  &:hover {
    background-color: var(--bg-darkest-color);
    border-bottom: 2px solid var(--bg-darkest-color);
  }

  &:disabled {
    background-color: var(--disabled-color);
    color: var(--text-disabled-color);
  }
}

.btn-outlined-primary {
  background-color: var(--bg-lightest-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);

  &:hover,
  &.active {
    background-color: var(--primary-color);
    color: var(--bg-lightest-color);
  }

  &:disabled {
    background-color: var(--disabled-color);
    color: var(--text-disabled-color);
  }
}

.btn-outlined {
  background-color: var(--bg-lightest-color);
  color: var(--text-primary-color);
  border: 1px solid var(--separator-color);

  &:hover {
    background-color: var(--bg-semi-light-color);
    color: var(--bg-lightest-color);
  }

  &:disabled {
    background-color: var(--disabled-color);
    color: var(--text-disabled-color);
  }
}

.no-hover {
  pointer-events: none;
}