.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 6px;

  label {
    color: var(--text-primary-color);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-semi-bold);
    line-height: var(--line-height-small);

    span {
      color: var(--error-color);
    }
  }

  &.view {
    label {
      color: var(--text-quaternary-color);
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }

    span {
      color: var(--text-primary-color);
      font-size: 15px;
      font-weight: 500;
      line-height: 24px;

      &.email {
        color: var(--cancel-text-color);
      }
    }
  }
}

.form-control {
  padding: 8px;
  border: 1px solid var(--separator-color);
  background-color: var(--bg-lightest-color);
  border-radius: 8px;
  outline: none;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  gap: 12px;
  box-shadow: 0 1px 2px 0 rgba(13, 13, 18, 0.06);

  color: var(--text-primary-color);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-small);

  ::placeholder {
    color: var(--disabled-color);
  }

  &:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 3px var(--primary-bg-color);
  }

  &.readonly {
    background-color: var(--disabled-alt-color);
    color: var(text-disabled-color);
  }

  &.error {
    background-color: var(--error-bg-color);
    border-color: var(--error-text-color);
  }
}

.input-wrapper {
  position: relative;
  width: 100%;

  .form-control {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
  }

  .left-icon,
  .right-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    opacity: 0.7;
  }

  .left-icon {
    left: 8px;
  }

  .right-icon {
    right: 8px;
  }

  .right-icon.clickable {
    cursor: pointer;
  }
}

.alert {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;

  &.success {
    background-color: var(--success-bg-color);
    color: var(--success-color);
  }

  &.error {
    background-color: var(--error-bg-color);
    color: var(--error-color);
  }

  &.warn {
    background-color: var(--warn-bg-color);
    color: var(--warn-color);
  }

  &.info {
    background-color: var(--info-bg-color);
    color: var(--info-color);
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: var(--success-color);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--success-color);
}

input:checked+.slider:before {
  transform: translateX(16px);
}

.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
}



.card-toggle {
  display: flex;
  height: 20px;
  padding: 2px;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  background: var(--Background-Dark, #E5E7EB);

  .toggle-item {
    display: flex;
    padding: 0 4px;
    align-items: center;
    gap: var(--Spacing-4, 4px);
    align-self: stretch;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: var(--text-primary-color);
    cursor: pointer;

    &.active {
      color: var(--primary-color);
      border-radius: 4px;
      background: var(--Background-Lightest, #FEFEFE);
    }
  }
}

.upload-section {
  display: flex;
  align-self: flex-start;
  position: sticky;
  top: 0px;
  z-index: 10;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 12px;
  border: 1px dashed var(--separator-color);

  .image-container {
    display: flex;
    width: 120px;
    height: 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .title {
    color: var(--text-primary-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
  }

  .sub-title {
    color: var(--text-secondary-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }
}


.password-rules {
  margin-top: 12px;
  font-size: 14px;
  color: #6b7280;

  p {
    margin-bottom: 8px;
    font-weight: 500;
  }

  .rule {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 6px;

    span {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 1px solid #cbd5e1;
      display: inline-block;
    }

    &.valid {
      color: #16a34a;

      span {
        background-color: #16a34a;
        border-color: #16a34a;
      }
    }
  }
}