.section {
    padding: 16px;
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid #E5E7EB;
    background: #FEFEFE;
    margin: 12px;

    .section-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;

        .section-header-details {
            display: flex;
            flex-direction: column;
            gap: 6px;
        }

        .section-header-title {
            color: var(--text-primary-color);
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
        }

        .section-header-subtitle {
            // color: #6B7280;
            color: #4B5563;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
        }

        .section-header-btn-group {
            display: flex;
            align-items: center;
            gap: var(--Spacing-8, 8px);
        }
    }
}

.section-alt {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid #E5E7EB;
    background: #FEFEFE;

    .section-header-details {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 12px;
    }

    .section-header {
        display: flex;
        gap: 12px;


        .section-header-title {
            color: var(--text-primary-color);
            font-size: 15px;
            font-weight: 500;
            line-height: 24px;
        }


    }

    .section-header-subtitle {
        color: var(--text-secondary-color);
        font-size: 14px;
        font-weight: 400;
        line-height: 2px;
    }
}


.filter-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    flex: 1 2;
    position: relative;

    .filter-search {
        border-radius: 8px;
        border: 1px solid #E5E7EB;
        background: #F9FAFB;
        display: flex;
        width: 300px;
        padding: 8px 8px 8px 16px;
        align-items: center;
        gap: 8px;

        input {
            color: var(--text-primary-color);
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            border: 0;
            width: 90%;
            outline: none;
            background-color: transparent;

            ::placeholder {
                color: var(--placeholder-text-color);
            }
        }
    }
}