.section {
    padding: 12px;
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid var(--separator-medium-color, #EBEDEB);

    &.dark {
        background: var(--bg-light-color, #F7F7F7);
    }
}

.section-title {
    color: var(--Text-Primary, #232423);
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
}