<div class="section main">
    <div class="section-header">
        <h1 class="section-title">Configuration</h1>

        <div class="section-header-btn-group">
            @if (hasPermission('EditConfig')) {
                <app-button (click)="showForm()" type="primary" icon="edit" label="Edit Details" />
            }
        </div>
    </div>

    <div class="section-content scrollable">
            @for (item of configList(); track item.name) {
                <div class="section section-dark d-flex m-lg justify-content-between align-items-center">
                    <h1 class="section-title">{{ item.label }}</h1>

                    <div class="btn btn-outlined no-hover">
                        {{ getDisplayValue(item) }}
                    </div>
                </div>
            }
    </div>
</div>
